<div class="mt-4 mb-5">
  <h1 class="bold-22 color-black">você sabe o que é cobertura?</h1>
  <h2 class="regular-22 color-black mb-3">
    é o que garante que você vai receber a indenização em caso de perdas ou
    danos, e o mais legal é que você pode personalizar tudo durante a
    contratação
  </h2>
  <h2 class="bold-22 color-black">
    agora que você já sabe o que são coberturas, que tal selecionar as suas?
  </h2>
</div>

<div class="row cards-container mb-5">
  <div
    class="col-xs-12 col-md-6 col-xl-4 card-item"
    *ngFor="let card of cardInput"
  >
    <app-card-checkbox
      [title]="card.nome"
      [imgUrl]="card.imagem_uri"
      [text]="card.resumo"
    >
    </app-card-checkbox>
  </div>
</div>

<div class="w-100">
  <button class="button-primary" tabindex="0" type="button" matStepperNext>
    continuar cotação
  </button>
</div>
