@import "../../../assets/styles/generics.scss";
.title-box {
  background-color: $black;
  padding: 32px 48px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $orange !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $orange !important; /*outer ring color change*/
}
