<!-- <div class="title-box">
  <h1 class="bold-32 color-white mb-2">
    {{ h1Text }}
    <p class="light-32 color-white">{{ h1TextSecondary }}</p>
  </h1>
</div> -->
<div class="container pt-5 pb-5">
  <mat-horizontal-stepper>
    <mat-step label="questionário">

      <div *ngFor="let question of questions">
        <app-radio-group [question]="question" [answers]="answers"></app-radio-group>
      </div>
      <div class="w-100">
        <button
          class="button-primary"
          tabindex="0"
          type="button"
          matStepperNext
        >
          continuar cotação
        </button>
      </div>
    </mat-step>

    <mat-step label="Step 2">
      <div>
        <app-radio-group [questions]="questions"></app-radio-group>
      </div>
    </mat-step>

    <mat-step label="Step 3"> You are now done. </mat-step>
  </mat-horizontal-stepper>
</div>
