<div class="card">
  <div class="coverage-card" role="group">
    <div class="coverage-main">
      <div class="coverage-media">
        <img
          src="https://itau-mkt-place-seguros.s3-sa-east-1.amazonaws.com/images/residencial/ilustracoes/incendio.svg"
          aria-hidden="true"
        />
      </div>
    </div>
    <div class="coverage-cta coverage-cta-spacebetween">
      <div>
        <div class="checkbox">
          <label class="check">
            <input type="checkbox" class="checkmark" />
            <span class="checkmark replace"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
