<label class="checkbox-container" tabindex="{{ tabIndex }}" role="checkbox">
  <input
    type="checkbox"
    checked="{{ active }}"
    (change)="change($event, id, importancia)"
  />
  <div class="checkmark"></div>
  <div class="card-content">
    <div class="card-image">
      <img src="{{ imgUrl }}" alt="{{ title }}" />
    </div>
    <div>
      <h3 class="title color-black mb-4">
        {{ title }}
      </h3>
      <p class="regular-16 color-black">
        {{ text }}
      </p>
    </div>
    <a href="{{ linkPath }}" class="link"> detalhes </a>
  </div>
</label>
