@import "../../../assets/styles/generics.scss";

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid $orange;
  box-shadow: $box-shadow;
  background-color: $white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  height: 350px;

  @media (max-width: 575px) {
    height: auto;
  }

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    ~ .checkmark {
      border: solid 1px $grey-medium;
    }
  }

  .checkmark {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: 40px;
    width: 40px;
    background-color: $white;
    border-radius: 5px;
    transition: 0.5s ease;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &:after {
      left: 14px;
      top: 4px;
      width: 11px;
      height: 25px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      transform: rotate(45deg);
    }
  }

  input {
    &:checked {
      ~ .checkmark {
        background-color: $orange;
        border: none;

        &:after {
          display: block;
        }
      }
    }
  }
}

.card-content {
  margin-bottom: 75px;

  @media (max-width: 575px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .title {
    font-family: $font-bold;
    font-size: 19px;
    line-height: 24px;
    @media (max-width: 575px) {
      max-width: 170px;
      margin-right: 24px;
    }
  }

  .link {
    position: absolute;
    left: 16px;
    bottom: 16px;
  }

  .card-image {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    img {
      width: 100px;
      height: 100px;
    }

    @media (max-width: 575px) {
      height: auto;
      width: 150px;
      object-fit: contain;
    }
  }
}
