<div class="card-container">
  <div class="card-header">
    <p class="regular-16 color-white">em até 6 vezes sem juros de</p>
    <p class="bold-48 color-white mt-2 mb-2">R$ 80,10</p>
    <p class="regular-16 color-white">ou R$ 480,62 à vista</p>
  </div>
  <div class="card-body">
    <p class="regular-22 color-yellow mb-3">detalhes do pacote</p>

    <ul>
      <p>Cobertura selecionada: R$ 480,62</p>
      <li>Incêndio, Explosão, Implosão, Fumaça e Queda de Aeronave</li>
      <li>Danos Elétricos</li>
      <li>Subtração de Bens</li>
    </ul>

    <ul>
      <p>Forma de pagamento</p>
      <li>cartão de crédito</li>
      <li>débito em conta</li>
    </ul>

    <ul>
      <p>vigência</p>
      <li>12 meses</li>
    </ul>

    <ul>
      <p>carência</p>
      <li>12 meses</li>
    </ul>
  </div>
</div>
