<div class="content">
  <p class="color-black">
    Porto Seguro Cia. de Seguros Gerais. CNPJ 61.198.164/0001-60. Consulte as
    Condições Gerais em
    <a href="https://www.portoseguro.com.br/?cmph=113&ref=siteporto">
      www.portoseguro.com.br/seguro-residencial </a
    >. Processos SUSEP: Residência 15414.002288/2005-85. Responsabilidade Civil
    Patrimonial 15414.900937/2017-49. O registro do produto é automático e não
    representa aprovação ou recomendação por parte da Susep representando,
    exclusivamente, sua adequação às normas em vigor.
  </p>
</div>
