@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/styles/reset.scss";
@import "./assets/styles/generics.scss";
@import "./assets/styles/_button.scss";
@import "./assets/styles/_link.scss";
@import "./assets/styles/_colors.scss";
@import "./assets/styles/_fonts.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
