<div class="mt-4 mb-5">
  <h1 class="bold-22 color-black">quer saber quanto custa seu seguro?</h1>
  <h2 class="regular-22 color-black mb-3">
    comece respondendo as perguntas abaixo e descubra :)
  </h2>
</div>

<div *ngFor="let question of questions">
  <ul>
    <li>
      <app-radio-group
        [question]="question"
        [answers]="answers"
      ></app-radio-group>
    </li>
  </ul>
</div>
<div class="w-100">
  <button class="button-primary" tabindex="0" type="button" matStepperNext>
    continuar cotação
  </button>

  <button (click)="openModal()">ABRIR MODAL</button>
</div>
